.nav-drawer {
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vw;
  min-width: 4rem;
  position: fixed;
  color: #fff;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 2rem;
  user-select: none;
  cursor: pointer;
}

.nav-item:hover {
  background: var(--primary);
}

.nav-item h3 {
  padding: 0;
  margin: 0;
}

.nav-header h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.nav-sublink {
  padding: 0 2.5rem;
}

.nav-sublink h3 {
  font-weight: 400;
  font-size: 14px;
}
