.card-container {
  @apply flex select-none flex-col justify-between overflow-hidden bg-[#FFFFFF70] shadow-sm hover:shadow-xl;
}

.card-header {
  @apply flex items-center justify-between bg-[#ffffff88] p-4;
}

.card-header svg {
  @apply font-light hover:rounded-md hover:bg-[#00000033] hover:fill-white hover:shadow-2xl active:shadow-md;
}

.card-footer {
  justify-self: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}
