.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-secondary {
  background: var(--secondary);
  color: #fff;
}

.btn-warning {
  background: var(--warning);


  color: #fff;
}

.btn-danger {
  background: var(--danger);
  color: #fff;
  display: flex;
}

.btn-success {
  background: var(--success);
  color: #fff;
}