.user-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -20px 0px -16px var(--secondary);
  padding: 2rem 0;
  width: 100%;
  height: 100%;
}

.user-card-avatar {
  @apply rounded-full p-2 shadow-md;
  /* box-shadow: var(--shadow-2); */
  /* border-radius: 50%; */
  background: var(--gradient-22);
  padding: 5px;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  height: 100%;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.close .user-card-avatar {
  width: 56px;
  min-width: 56px;
  height: 56px;
  min-height: 56px;
}
