.nav-drawer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.nav-drawer.open {
  transform: translateX(0);
}

.nav-drawer.close {
  transform: translateX(-100%);
}
.nav-item {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 150px;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-item:hover {
  background-color: #fff;
  color: #000;
}

.nav-header {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-sublink {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* padding: 0.5rem 2rem; */
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-icon {
  margin-right: 0.5rem;
}
