.nav-drawer {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  background: var(--primary);
  height: 100%;
  color: var(--text-secondary);
  user-select: none;
}

.nav-drawer * {
  transition: all 0.5s var(--ease-1);
}

.nav-drawer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-drawer.open {
  flex: 1 0 300px;
  width: 300px;
}

.nav-drawer.close {
  flex: 1 0 72px;
  width: 72px;
}

.nav-item,
.nav-drawer-header,
.nav-drawer-item {
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.5s var(--ease-1);
  cursor: pointer;
  padding: 0.25rem 0;
  width: 100%;
  color: var(--text-primary);
  text-transform: uppercase;
}

.close .nav-drawer-header span {
  display: none;
}

.close .nav-drawer-item {
  position: relative;
  left: -100%;
}

.close .nav-drawer-header .nav-text {
  position: relative;
  top: -100%;
  left: -100%;
}

.nav-item:hover {
  background-color: var(--secondary);
}

.nav-icon {
  margin: 0 0.75rem 0 1.5rem;
  font-size: 1.5rem;
}

.nav-drawer-header {
  font-weight: 700;
}

.nav-drawer-item {
  padding-left: 1.5rem;
}
