:root {
  /* CSS HEX */
  --dark-jungle-green: #000f08;
  --outer-space-crayola: #1c3738;
  --carolina-blue: #449dd1;
  --dark-liver: #4d4847ff;
  --mint-cream: #f4fff8ff;
  --pewter-blue: #8baaadff;
  --crimson: #d72638;
  --rajah: #fcaf58;
  --keppel: #58b09c;

  /* CSS HSL */
  --dark-jungle-green: hsla(152, 100%, 3%, 1);
  --outer-space-crayola: hsla(182, 33%, 16%, 1);
  --dark-liver: hsla(10, 4%, 29%, 1);
  --mint-cream: hsla(142, 100%, 98%, 1);
  --pewter-blue: hsla(185, 17%, 61%, 1);

  /* SCSS HEX */
  $dark-jungle-green: #000f08ff;
  $outer-space-crayola: #1c3738ff;
  $dark-liver: #4d4847ff;
  $mint-cream: #f4fff8ff;
  $pewter-blue: #8baaadff;

  /* SCSS HSL */
  $dark-jungle-green: hsla(152, 100%, 3%, 1);
  $outer-space-crayola: hsla(182, 33%, 16%, 1);
  $dark-liver: hsla(10, 4%, 29%, 1);
  $mint-cream: hsla(142, 100%, 98%, 1);
  $pewter-blue: hsla(185, 17%, 61%, 1);

  /* SCSS RGB */
  $dark-jungle-green: rgba(0, 15, 8, 1);
  $outer-space-crayola: rgba(28, 55, 56, 1);
  $dark-liver: rgba(77, 72, 71, 1);
  $mint-cream: rgba(244, 255, 248, 1);
  $pewter-blue: rgba(139, 170, 173, 1);

  /* SCSS Gradient */
  $gradient-top: linear-gradient(
    0deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-right: linear-gradient(
    90deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-bottom: linear-gradient(
    180deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-left: linear-gradient(
    270deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-top-right: linear-gradient(
    45deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-bottom-right: linear-gradient(
    135deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-top-left: linear-gradient(
    225deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-bottom-left: linear-gradient(
    315deg,
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
  $gradient-radial: radial-gradient(
    #000f08ff,
    #1c3738ff,
    #4d4847ff,
    #f4fff8ff,
    #8baaadff
  );
}
