@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import './darker.css';

:root {
  --primary: var(--carolina-blue);
  --secondary: var(--outer-space-crayola);
  --warn: var(--rajah);
  --error: var(--crimson);
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background: var(--primary);
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  padding: 1em;
  margin: 0.5rem;
}

.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-secondary {
  background: var(--secondary);
  color: #fff;
}

.btn-warn {
  background: var(--warn);
  color: #fff;
}

.btn-error {
  background: var(--error);
  color: #fff;
}