@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "https://unpkg.com/open-props";
@import "./darker.css";

:root {
  --primary: var(--carolina-blue);
  --secondary: var(--outer-space-crayola);
  --warning: var(--rajah);
  --danger: var(--crimson);
  --success: var(--keppel);
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background: var(--primary);
  border-radius: 5px;
  border: 0;
  box-shadow: var(--shadow-1);
  color: #fff;
  font-weight: 700;
  margin: 0.5rem;
  padding: 1em;
}

button:hover {
  box-shadow: var(--shadow-2);
}

button:active {
  box-shadow: var(--shadow-1);
}

a {
  text-decoration: none;
}